name: Backend CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Lint
        run: pnpm --filter backend run lint

      - name: Test
        run: pnpm --filter backend run test

      - name: Build
        run: pnpm --filter backend run build
